pandas==1.0.5
numpy==1.18.5
nltk==3.5
googletrans==4.0.0-rc.1
spacy==3.2.3
seaborn==0.10.1
matplotlib==3.2.2
textblob==0.17.1
wordcloud==1.8.1
streamlit==1.8.1
plotly==5.6.0
scikit-learn
vaderSentiment
text2emotion
unidecode
os
csv
re
bs4
sklearn
collections
PIL
dash
plotly.express
skimage
snscrape
datetime
